html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  padding: .6em;
  text-align: center;
}

nav {
  display: inline-block;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-family: Bevan, serif;
  color: #fff;
  font-weight: normal;
}

a {
  background-color: #713837;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: .5em .75em;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

a:hover {
  background-color: #f33;
}
